.Sidebar {
  height: 100%;
  background-color: rgb(0, 255, 128);
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  margin-top: 50px;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: white;
  opacity: 1;
  border-left: 3px solid #fff;
}

.SidebarList .row #active {
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.info {
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.info__img {
  width: 150%;
  height: 100%;
}

.info__name {
  margin-left: 20px;
  color: white;
}
