.wrap{
    display: flex;
}
.wrap-content{
 
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

  
}

.content__learn{
    margin-top: 50px;
    margin-left: 20px;
    height: 500px;
    width: 800px;
    background-color:#fafafa ;
    padding: 20px;
}

.header-title{
    margin-top: 20px;
    margin-left: 20px;
}

.content__learn-info{
    font-size: 2.5em;
    font-weight: 700;
}



.content__learn-get-info{
    margin-bottom: 5px;
   
}

.content__learn-get{
    font-size: 15px;
    font-weight: 600;
    margin: 30px 0 20px 0;
}



/* Card */
@media screen and (max-width: 1023px) {
    .cards {
      --columns: 2;
    }
  }
  @media screen and (max-width: 767px) {
    .cards {
      --spacing: 15px;
      --columns: 1;
    }
  }
  

.card {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
  }
  .card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  .card-top {
    padding: 25px;
    display: block;
    margin: 0 auto;
  }
  .card-title {
    font-weight: 500;
    margin-bottom: 25px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .card-user {
    display: flex;
    align-items: center;
  }
  .card-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    object-fit: cover;
    flex-shrink: 0;
  }
  .card-user-info {
    padding-left: 20px;
    flex: 1;
  }
  .card-user-top {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
  }
  .card-user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
  }
  .card-user-top ion-icon {
    color: #20e3b2;
    margin-left: 5px;
  }
  .card-user-game {
    color: #999;
    font-weight: 300;
    font-size: 13px;
  }
  .card-bottom {
    padding: 25px;
    border-top: 1px solid #eee;
    display: block;
    margin: 0 auto;
    
     
  }
  .card-live {
    
   
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #ff6651;
    border: none;
    width: 300px;
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
  }
 
  .card-live:hover{
    opacity: 0.8;
  }
 
  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .card-top {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .card-user,
  .card-bottom {
    margin-top: auto;
    flex-shrink: 0;
  }
  .card {
    display: flex;
    flex-direction: column;
  }