

/* Demo */
.login-container{
  position: relative;
  
}

.login-content{
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  height: 530px;
  width: 390px;
  border: 1px solid #000;
  padding: 25px;
  
}

.login-title{
  text-align: center;
  font-size: 25px;
  font-weight:lighter;
}

.login-form{
  margin-top: 50px;
}

.login-form input{
  margin-top: 15px;
  padding: 3px 3px 3px 10px;
  border-radius: 10px;
  outline: none;
  border:0.5px solid black;
}

.login-btn{
  background-color: #055031;
  border: none;
  color: white;
  width: 335px;
  height: 50px;
  margin: 20px 0;
  border-radius: 10px;
}
.login-btn:hover{
  opacity: 0.8;
}


.icon-google{
  width: 25px;
  height: 25px;
  top: -10px;
  margin-right: 10px;
}

.btn-google{
  background-color:   #ea4335;
}

.btn-facebook{
  margin-top: -20px;
  margin-right: 10px;
  background-color: #0056d2;
}

.icon-facebook{
  width: 25px;
  height: 25px;
  top: -10px;
  margin-right: 10px;
}