.profile{
    top: 0;
    right: 0;
    width: 400px;
    height: 600px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
   
}

.content-wrap{
    
    width: 280px;
    height: 600px;
    font-size: 13px;
    margin-left: -10px;

    
}

.content-text{
   
    padding: 1px 0 1px 20px;
    width: 100px;
    margin: 15px 2px 2px 10px;
    border-radius: 30px;
    border: 1px solid #000;
    width: 300px;
    line-height: 20px;
    
}
.content-role::after{
    padding-right: 10px;
}

.content-role{
    -moz-appearance: none;
    height: 48px;
    line-height: 50px;
    padding: 0 20px;
  
}

.wrap-button{
   width: 250px;
   margin-left: 40px;
    
   
    
}

.button{
    margin-top: -20px;
   
    border-radius: 8px;
    height: 50px;
 
    border: none;
    padding: 5px;
    font-size: 13px;
    
}

.button:hover{
    opacity: 0.8;
}

.button-update{
    background-color: #DD1D1D;
    color: #fff;
}

.button_changepass{
    background-color: #2BA621;
    color: #fff;
}