.wrapper {
    position: absolute;
    padding:20px ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 20px;
    border:1px solid #000;
    width: 600px;
    height: 300px;
    }

    .button{
    width: 100%;
    margin-top: 10px;
    background-color: #055031;
    height: 100px;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    }
    .button:hover {
    background-color: #2d3436;
    color: #fff;
    }
    input {
    height: 50px !important;
    width: 100%;
    }
    .form-control:focus {
    border-color: #18dcff;
    box-shadow: none;
    }
    h3 {
  
    font-size: 36px;
    }
    /* .cw {
    width: 35%;
    } */
    /* @media(max-width: 992px) {
    .cw {
    width: 60%;
    }
    }
    @media(max-width: 768px) {
    .cw {
    width: 80%;
    }
    }
    @media(max-width: 492px) {
    .cw {
    width: 90%;
    }
    } */