.content{
    display: flex;
     
    margin-left: 350px;
    padding: 20px;
   
}


.homestudent{
   
     display:flex;

}

.wrapper-input{
    margin:10px auto;
    width: 1000px;
    height: 70px;
    padding: 10px 10px 20px 10px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}
.search:focus{
    outline: none;
}
.search{
    
    border: none;
    background-color: #F4F7FC;
    border-radius: 50px;
    padding: 3px 3px 3px 30px;
    position: relative;
    width: 800px;
    height: 15px;
    font-size: 15px;
    opacity: 0.7;
  
}



