.profile{
    margin-left: 20px;
    width: 500px;
    height: 700px;
    padding: 50px;
    border-radius: 10px;
    border: 1px solid #000;
   
}

.content-wrap{
    
    width: 390px;
    height: 600px;
    
}

.content-text{
   
    padding: 10px 0 10px 20px;
    margin: 20px 2px 2px 10px;
    border-radius: 30px;
    border: 1px solid #000;
}
.wrap-button{
    margin: 60px 10px 10px 120px;
    display: flex;
    justify-content: space-between;
    
    
}

.button{
    border-radius: 8px;
    height: 50px;
    width: 160px;
    margin-right: 20px;
    border: none;
    padding: 3px;
    
}

.button:hover{
    opacity: 0.8;
}

.button-update{
    background-color: #DD1D1D;
    color: #fff;
}

.button_changepass{
    background-color: #2BA621;
    color: #fff;
}