.wrappermanager{
    display: flex;
    
  
}



.contentmanager{
    
    flex: 1;
    margin-left: 50px;
   
 
  

  
}

.header{
 
  display: flex;
  justify-content: space-between;
  
  
    
   
    
    
}

.header-title{
    font-size: 20px;
    font-weight: 600;
    width: 700px; 
     
 
}

.header-btn_add{
    width: 150px;
    background-color: #ff9800;
    height: 40px;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

.header-btn_add:hover{
    opacity: 0.8;
}

.table-data{
    margin-top: 20px;
    margin-left: 10px;
}